$ios-blue: #007AFF;
$ios-red: #ff3b30;
$ios-border: #c8c7cc;
$ios-background: #f2f2f7;
$ios-element-background: #ffffff;
$ios-text-primary: #000;
$ios-text-secondary: #666;
$ios-text-label: #6d6d72;
$ios-secondary-label: #6d6d72;
$ios-inactive: #8e8e93;

:root {
    --sat: env(safe-area-inset-top, 0px);
    --sab: env(safe-area-inset-bottom, 0px);
    --sal: env(safe-area-inset-left, 0px);
    --sar: env(safe-area-inset-right, 0px);
  }